<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Acciones
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{{ url_informacion }}"><i class="fa-solid fa-circle-info"></i> Información</a></li>
      <li><a class="dropdown-item" href="{{ url_editar }}"><i class="fa-solid fa-pen-to-square"></i> Editar</a></li>
      <li><a class="dropdown-item" href="{{ url_eliminar }}"><i class="fa-solid fa-trash"></i> Eliminar</a></li>
    </ul>
</div>